/* Colors */
:root {
    --accent: #00fb9a;
    --white: #f5f5f5;
    --light-gray: #969696;
    --gray: #373737;
    --dark-gray: #242424;
    --background: #282828;
}

/* Global page rules */
body {
    /* Default font */
    font-family: 'Nunito', sans-serif;

    /* Main color scheme */
    background-color: var(--background);
    color: var(--white);

    /* Disable margin and padding */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    /* Remove default link styling */
    text-decoration: none;
    color: var(--accent);
}